* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* border: 1px red dashed; */
  height: 100dvh;
  /* justify-content: center; */
  align-items: center;
  background-color: rgba(31, 31, 31, 1);

  /* background-color: #B04F7D; */
}

.hero {
  display: flex;
  /* border: 2px white solid; */
  flex: 1;
  font-size: 32px;
  font-weight: 700;
  font-style: Tahoma;
  color: rgb(12, 9, 13);
  margin-left: 80px;


}



.links {
  display: flex;
  /* border:2px solid black; */
  width: 200px;
  align-items: center;
  justify-content: space-around;
  



}

.git {
  display: flex;
  /* border: 1px solid white; */

  height: 30px;
  width: 55px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 4px;

}

.linked-in {
  display: flex;
  /* border: 1px solid white; */

  height: 40px;
  width: 75px;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}

.git-img,
.link-img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}



.header-container {
  display: flex;
  /* flex: 1; */
  min-width: 100%;
  align-items: center;
  justify-content: flex-end;
  /* background-color: rgba(136, 187, 146, 1); */
  background-color: rgb(255, 251, 252);
  height: 50px;
  width: 100%;
  margin-bottom: 100px;

}




#content,
.slider-container {
  display: flex;
  width: 1000px;
  /* border: blueviolet 1px dotted; */
  justify-content: center;
  /* margin-right: 200px; */

}





#grid-container {
  flex-shrink: 0;
  display: grid;
  width: 500px;
  height: 500px;
  border: 2px grey solid;
  box-shadow: 4px 2px 2px rgba(0, 0, 0, .4);

}

.slider-div {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 300px;
  height: 50px;
  border: black 1px solid;
  margin-bottom: 50px;
  margin-top: 20px;
  margin-left: 280px;
  background-color: rgba(255, 252, 249, 1);
  border-radius: 10px;
  box-shadow: inset 0 0 10px;
  

}
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
    overflow: hidden;
    width: 180px;
    -webkit-appearance: none;
    background-color: rgb(136, 187, 146);
  }
  
  input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  
  input[type='range']::-webkit-slider-thumb {
    width: 12px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -80px 0 0 80px rgb(238, 198, 67);
  }

}

/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: rgb(238, 198, 67); 
}



.tools {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 250px;
  border: 1px black solid;
  margin-right: 50px;
  flex-shrink: 0;
  background-color: rgba(255, 252, 249, 1);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 1);
}

button {
  all: unset;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  
  box-shadow: 2px 2px 20px;
  


}


.color-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 150px;
  border: 1px black dashed;
}

/* .save {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  border: 1px blue solid;
} */

.slider {
  width: 200px;
}

.size {
  font-size: 20px;
  margin-right: 5px;
  width: 45px
}

.footer-container
{

  
  margin-bottom: 10px;
}


.footer-container .links img
{
  height: 30px;
  width: 30px;

}

.footer-container .git
{
  margin-bottom: 4px;

}

.footer-container .git,
.footer-container .link
{
  transition: transform 0.3s ease-in-out;
}

button:hover
{
  transform:scale(1.06);
  border: 1px solid rgba(31, 31, 31, 0.4);
  background-color: rgb(74, 123, 157);
  /* box-shadow: inset 0 0 4px; */
}

/* button:hover:nth-child(3)
{
  transform:scale(1.06);
  border: 1px solid rgba(31, 31, 31, 0.4);
  background-color: rgb(194, 140, 174);
  
}

button:hover:nth-child(4)
{
  transform:scale(1.06);
  border: 1px solid rgba(31, 31, 31, 0.4);
  background-color: rgb(194, 140, 174);
} */

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}

.footer-container .git img:hover,
.footer-container .link:hover
{
  transform:rotate(360deg) scale(1.2);
}


